{% block title %}Maine Watcher{% endblock %}
{% block body %}
  <section id="title">
    <div class="container-fluid">


    <!-- Title -->

  <div class="row">

      <div class="col-lg-6">


      <h1>Emphasizing on the Analysis of Oceanic Litter.</h1>
      <button class="btn btn-dark btn-lg download-button" type="button"> <i class="fab fa-apple"></i> Download</button>
      <button class="btn btn-outline-light btn-lg download-button" type="button"> <i class="fab fa-google-play"></i> Download</button>
      </div>
    <div class="col-lg-6">
      <img class="title-image" src="images/pic2.jpg" alt="iphone-mockup">
    </div>

  </div>
  </div>
  </section>


  <!-- Features -->

  <section id="features">
  <div class="row">


    <div class="feature col-lg-4">
      <i class="icon fas fa-exclamation-triangle fa-4x"></i>
      <h3>Subaqueous life's comperiled.</h3>
      <p>Let's do what's right,For the whales we must fight.</p>
  </div>

  <div class="feature col-lg-4">
    <i class=" icon fas fa-angle-double-down fa-4x"></i>
    <h3>Pre-requisite to diminish</h3>
    <p>Needs to be minimized for the sake of marine life.</p>
  </div>

  <div class="feature col-lg-4 ">
    <i class="icon fas fa-compass fa-4x"></i>
    <h3>Monitoring and expulsion.</h3>
    <p>Urge to control civil savage on Thalassic life.</p>
  </div>
  </div>
  </section>


  <!-- Testimonials -->

  <section id="testimonials">

    <div id="carouselExampleControls" class="carousel slide" data-ride="true" data-bs-interval="2000" data-bs-pause="hover" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <h2>Marine life is being relentlessly mangled by personage. Thus, eventually mistreating the ecosystem on whole.</h2>
      <img class = "image_dog" src="images/ocean2.jpg" alt="dog-profile">
    </div>

    <div class="carousel-item ">
      <h2 class="testimonial-text">To the immense of filth convened along the seashore, leads to the initiation of Marine Debris.</h2>
      <img class="image_dog" src="images/ocean3.png" alt="lady-profile">
    </div>

    <div class="carousel-item ">
      <h2 class="testimonial-text">The Pelagic Heaven is being terminated along with defunction of aquatic creatures due to Human pursuits.</h2>
      <img class="image_dog" src="images/background.gif" alt="lady-profile">
    </div>


    <div class="carousel-item ">
      <h2 class="testimonial-text">Sudden uprise in origination of Debris is required to come to a halt for Marine to be shielded.</h2>
      <img class="image_dog" src="images/water.gif" alt="lady-profile">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>

  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>

  </button>
</div>

  </section>


  <!-- Press -->

  <section id="press">

    <img class="press-logo" src="images/ocea1.jpg" alt="ocean-logo">
    <img class="r press-logo" src="images/ocea2.jpg" alt="ocean-logo">
    <img class="press-logo" src="images/ocea3.jpg" alt="ocean-ocean-logo">

  </section>


  <!-- Pricing -->

  <section id="pricing">

    <h2>Concluding inspection of Marine Debris</h2>
    <p>Protection and Preservation of ecosystems in marine.</p>

<!-- <div class="card-group"> -->
<div class="row">
  <div class="rex2 col-lg-4 col-md-6">


    <div class="card rex1">
      <div class="card-header">
        <h3>Causes of Formation</h3>
      </div>
      <div class="card-body">
        <p>Filthy landfill sites.</p>
        <p>Combined sewer overflow.</p>
        <p>Recreation or shore fishing.</p>
        <p>Plastic processing.</p>
        <button type="button" class="s btn btn-outline-dark col-10"><a class="rt nav-link " target="_blank" href="https://www.marinelittersolutions.com/about-marine-litter/what-causes-marine-litter/">More causes</a></button>

      </div>
    </div>
  </div>
  <div class="rex2 col-lg-4 col-md-6">
    <div class="card rex1">
      <div class="card-header">
        <h3>Impacts</h3>
      </div>
      <div class="card-body">
        <p>Ingestion.</p>
        <p>Habitat damage</p>
        <p>Wildlife entanglement</p>
        <p>Ghost fishing</p>
        <button type="button" class="s btn btn-dark col-10"><a class="rt nav-link " target="_blank" href="https://www.gov.scot/publications/marine-litter-issues-impacts-actions/pages/4/">More impacts</a></button>

      </div>
    </div>
  </div>
  <div class="rex2 col-lg-4 ">
    <div class="card rex1">
      <div class="card-header">
        <h3>Preservation</h3>
      </div>
      <div class="card-body">
        <p>Debris detector using AI</p>
        <p>Avoid ocean harming products</p>
        <p>Skip plastic uses</p>
        <p>Reduction of toxins</p>
        <!-- <p>Unlimited App Usage</p> -->
        <button type="button" class="s btn btn-dark col-10"><a class="rt nav-link " target="_blank" href="https://oceana.org/living-blue/10-ways-you-can-help-save-oceans">Dark</a></button>

      </div>
    </div>
  </div>
</div>
  </section>


  <!-- Call to Action -->

  <section id="cta">

    <h3 class="alpha">Don't be a Litter bag. Keep your community clean.</h3>
    <button class="btn btn-dark btn-lg download-button alpha1" type="button"> <i class="fab fa-apple"></i> Download</button>
    <button class="btn btn-outline-light btn-lg download-button alpha1" type="button"> <i class="fab fa-google-play"></i> Download</button>

  </section>


  <!-- Footer -->

  <footer id="footer">


    <!-- Add icon library -->


<!-- Add font awesome icons -->
<div class="social-media">
  <a target="_blank" href="https://www.facebook.com/NOAAMarineDebris/"><i class="b fab fa-facebook fa-3x"></i></a>
  <a target="_blank" href="https://twitter.com/search?q=%23marinedebris"> <i class="b fab fa-twitter fa-3x"></i></a>
  <a target="_blank" href="https://www.instagram.com/debrisresearch/?hl=en"> <i class="b fab fa-instagram fa-3x"></i></a>
  <a target="_blank" href="https://www.linkedin.com/in/global-partnership-on-marine-litter-8b83201a8/?originalSubdomain=ke"> <i class="b fab fa-linkedin fa-3x"></i></a>
</div>
<!-- <i class="fab fa-facebook"></i> -->
<p class="last" >© Copyright 2021 cse d2 srm</p>

  </footer>


{% endblock %}